.completed {
  background: #3e3c41;
  display: inline-block;
  margin-bottom: 10px;
  width: 300px;
  padding: 30px 25px 0 30px;
}

.completed-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #e5e5e5;
  margin: 0;
  text-align: center;
  position: relative;
}

.completed-title::after {
  content: '';
  position: absolute;
  width: 364px;
  height: 0;
  border-bottom: 1px solid #e5e5e5;
  right: -28px;
  bottom: -33px;
}

.to-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.header-left {
  display: flex;
  align-items: baseline;
  gap: 21px;
}

.header-left-img {
  width: 32px;
  height: 26px;
}

.header-left-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}

.header-left-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.to-duration {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #E5E5E5;
}

.to-duration-text {
  margin-bottom: 0;
  text-align: center;
}



.to-train {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.to-timing-upper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.to-timing-lower {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.to-train-left-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #E5E5E5;
}

.to-train-right-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  margin-bottom: 0;
}

.to-train-right-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #FFFFFF;
}

.upper-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #928F94;
}

.to-train-right-header {
  color: #FFFFFF;
}

.completed-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-right {
  display: flex;
  align-items: center;
}

.price-left {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.price-right-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  color: #FFA800;
}

.price-right-img {
  padding-left: 10px;
}

.header-button {
  width: 20px;
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: inherit;
  position: relative;
  margin-bottom: 3px;
  margin-left: auto;
  border: 2px solid #c4c4c4;
  color: #C4C4C4;
}