.sidebar-options-container {
  background: #3e3c41;
  display: inline-block;
  margin-bottom: 10px;
  width: 300px;
  padding: 30px 25px 0 30px;
}

.sidebar-dates-text {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 400;
}

.sidebar-input {
  background: #ffffff url(../../../../images/sidebar/sidebar-dates.png);
  background-position: right 15px center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  color: #292929;
  display: block;
  font-size: 18px;
  font-weight: 400;
  height: 43px;
  line-height: 21px;
  margin-top: 13px;
  padding-left: 21px;
  text-transform: capitalize;
  width: 295px;
}

.sidebar-dates:after {
  border: 1px solid #e5e5e5;
  content: "";
  height: 0;
  position: absolute;
  width: 350px;
  margin-top: 20px;
}



.options-list {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  padding-left: 30px;
  position: relative;
}

.options-item {
  align-items: center;
  display: flex;
}

.options-item-text {
  margin-bottom: 17px;
  margin-top: 17px;
}

.options-item-form {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.item-form-check {
  height: 0;
  width: 0;
  visibility: hidden;
}

.item-form-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 72px;
  height: 19px;
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  transition: background-color 0.2s;
}

.item-form-label .item-form-label-switch {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 45px;
  transition: 0.2s;
  background: #c4c4c4;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.options-item-image {
  margin-right: 40px;
}

.form-input {
  height: 0;
  visibility: hidden;
  width: 0;
}

.form-label {
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  height: 18px;
  position: relative;
  width: 70px;
}



.sidebar-prices {
  margin-bottom: 62px;
}

.sidebar-prices-container {
  display: flex;
  justify-content: space-between;
}

.sidebar-prices-range {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 0;
}

.sidebar-prices-slider {
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  box-sizing: border-box;
  height: 19px;
  top: 0;
}

.sidebar-prices:after {
  border: 1px solid #e5e5e5;
  content: "";
  height: 0;
  position: absolute;
  width: 350px;
  margin-top: 20px;
}



.time-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.time-header-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 22px;
  margin-top: 25px;
  padding-left: 40px;
  position: relative;
}

.time-header-title-arrow:before {
  background-repeat: no-repeat;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 0;
  position: absolute;
  width: 32px;
}

.arrow-to:before {
  background-image: url(../../../../images/sidebar/sidebar-options-arrowto.png);
}

.arrow-back:before {
  background-image: url(../../../../images/sidebar/sidebar-options-arrowback.png);
}


.time-header-button {
  background-color: inherit;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  box-sizing: border-box;
  height: 20px;
  padding: 0;
  position: relative;
  right: 0;
  width: 20px;
}

.time-header-button-active:before {
  background: inherit;
  background-image: url(../../../../images/sidebar/sidebar-options-expand.png);
  background-repeat: no-repeat;
  content: "";
  height: 14px;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 14px;
}

.time-header-button-inactive:before {
  background: inherit;
  background-image: url(../../../../images/sidebar/sidebar-options-colapse.png);
  background-repeat: no-repeat;
  content: "";
  height: 14px;
  position: absolute;
  right: 1px;
  top: 6px;
  width: 14px;
}

.time-form-header {
  color: #e5e5e5;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 21px;
  margin-top: 0;
}

.time-form-header-right {
  text-align: right;
  margin-top: 60px;
}





.last {
  margin-bottom: 50px;
  width: 360px;
}

.last-item {
  background: #fff;
  border: 1px solid #c4c4c4;
  box-shadow: 0 2px 2px rgba(62, 60, 65, .25);
  box-sizing: border-box;
  margin-bottom: 17px;
  padding: 23px 18px 16px;
}

.last-header {
  color: #000000;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.last-item-header {
  display: flex;
  justify-content: space-between;
}

.item-location {
  color: #292929;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin: 0 0 3px;
  text-transform: capitalize;
}

.item-sublocation {
  color: #928f94;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: none;
}

.last-item-body {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}

.last-item-price-container {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.last-item-price-start {
  color: #928f94;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.last-item-price-sum {
  color: #ffa800;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.completed {
  background: #3e3c41;
  display: inline-block;
  margin-bottom: 10px;
  width: 300px;
  padding: 30px 25px 0 30px;
}

.completed-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #e5e5e5;
  margin: 0;
  text-align: center;
  position: relative;
}

.completed-title::after {
  content: '';
  position: absolute;
  width: 364px;
  height: 0;
  border-bottom: 1px solid #e5e5e5;
  right: -28px;
  bottom: -33px;
}

.to-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.header-left {
  display: flex;
  align-items: baseline;
  gap: 21px;
}

.header-left-img {
  width: 32px;
  height: 26px;
}

.header-left-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}

.header-left-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.to-duration {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #E5E5E5;
}

.to-duration-text {
  margin-bottom: 0;
  text-align: center;
}



.to-train {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.to-timing-upper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.to-timing-lower {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.to-train-left-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #E5E5E5;
}

.to-train-right-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  margin-bottom: 0;
}

.to-train-right-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #FFFFFF;
}

.upper-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #928F94;
}

.to-train-right-header {
  color: #FFFFFF;
}

.completed-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-right {
  display: flex;
  align-items: center;
}

.price-left {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.price-right-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  color: #FFA800;
}

.price-right-img {
  padding-left: 10px;
}

.header-button {
  width: 20px;
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: inherit;
  position: relative;
  margin-bottom: 3px;
  margin-left: auto;
  border: 2px solid #c4c4c4;
  color: #C4C4C4;
}