.sidebar {
  display: inline-block;
  margin-bottom: 94px;
  width: 360px;
}

.sidebar-options-container {
  background: #3e3c41;
  padding: 43px 38px 0 30px;
}

.dates {
  margin-bottom: 33px;
  position: relative;
}

.dates-text {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 12px;
}

.sidebar-input {
  background: #ffffff url(../../../../images/sidebar/sidebar-dates.png);
  background-position: right 15px center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  color: #292929;
  display: block;
  font-size: 18px;
  font-weight: 400;
  height: 43px;
  line-height: 21px;
  margin-top: 13px;
  padding-left: 21px;
  text-transform: capitalize;
  width: 295px;
}

.dates:after {
  border: 1px solid #e5e5e5;
  bottom: -33px;
  content: "";
  height: 0;
  position: absolute;
  right: -38px;
  width: 364px;
}



.options-list {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  padding-left: 30px;
  position: relative;
}

.options-list::after {
  content: '';
  position: absolute;
  width: 364px;
  height: 0;
  border: 1px solid #e5e5e5;
  right: -38px;
  bottom: 0;
}

.options-item {
  align-items: center;
  display: flex;
}

.options-item-container {
  display: flex;
  align-items: center;
  width: 58px;
}

.options-item-text {
  margin-bottom: 17px;
  margin-top: 17px;
}

.options-item-form {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.item-form-check {
  height: 0;
  width: 0;
  visibility: hidden;
}

.item-form-check:checked+.item-form-label .item-form-label-switch {
  left: calc(100% - 0px);
  transform: translateX(-100%);
  background: #ffa800;
}

.item-form-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 72px;
  height: 19px;
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  transition: background-color 0.2s;
}

.item-form-label .item-form-label-switch {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 45px;
  transition: 0.2s;
  background: #c4c4c4;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.is-on {
  background: #fcdc9d;
}

.options-item-image {
  margin-right: 40px;
}

.form-input {
  height: 0;
  visibility: hidden;
  width: 0;
}

.form-label {
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  height: 18px;
  position: relative;
  width: 70px;
}


.prices {
  padding-bottom: 62px;
  position: relative;
}

.prices:after {
  content: '';
  position: absolute;
  width: 364px;
  height: 0;
  border: 1px solid #e5e5e5;
  right: -38px;
  bottom: 0;
}

.prices-text {
  font-weight: 400;
  font-size: 1.3em;
  color: #ffffff;
  margin-bottom: 12px;
}

.prices-container {
  display: flex;
  justify-content: space-between;
}

.prices-range {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 0;
}

.prices .input-range__label--min,
.prices .input-range__label--max {
  top: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #e5e5e5;
}

.prices .input-range__label--min {
  left: 20px;
  display: none;
}

.prices .input-range__label--max {
  right: 20px;
  top: 25px;
}

.prices .input-range__label--value {
  top: 8px;
}

.prices .input-range__label-container {
  right: 50%;
}

.prices .input-range__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #e5e5e5;
}

.prices .input-range__track {
  height: 19px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  top: 0;
}

.prices .input-range__track--background {
  background: inherit;
}

.prices .input-range__track--active {
  background: #ffa800;
}

.prices .input-range__slider {
  width: 24px;
  height: 24px;

  background: #ffffff;
  border: none;
  top: 0;
  margin-top: -22px;
  margin-left: -12px;
}



.time-element {
  position: relative;
}

.time-element::after {
  content: '';
  position: absolute;
  width: 364px;
  height: 0;
  border: 1px solid #e5e5e5;
  right: -38px;
  bottom: 0;
}

.time-element .input-range__label--max .input-range__label-container {
  left: 0;
  top: 12px;
}

.time-element .input-range__label--min,
.time-element .input-range__label--max {
  top: 25px;
}

.time-element .input-range__label--min {
  display: none;
  left: 1px;
}

.time-element .input-range__label--max {
  right: -18px;
}

.time-element .input-range__label--value {
  top: 17px;
}

.time-element .input-range__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #e5e5e5;
}

.time-element .input-range__track {
  height: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;

  background: transparent;
}

.time-element .input-range__track--active {
  border-color: #ffa800;
  background: #ffa800;
}

.time-element .input-range__slider {
  width: 18px;
  height: 18px;
  margin-top: -16px;
  margin-left: -0.7rem;
  border: 1px solid #ffffff;
  background: #ffffff;
}

.time-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.time-header-title {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 22px;
  margin-top: 25px;
  padding-left: 40px;
  position: relative;
}

.arrow-to:before {
  background-image: url(../../../../images/sidebar/sidebar-options-arrowto.png);
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  width: 32px;
  height: 26px;
  bottom: 4px;
  left: 0;
}

.arrow-back:before {
  background-image: url(../../../../images/sidebar/sidebar-options-arrowback.png);
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  width: 32px;
  height: 26px;
  bottom: 4px;
  left: 0;
}

.time-header-button {
  background-color: inherit;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  box-sizing: border-box;
  height: 20px;
  padding: 0;
  position: relative;
  right: 0;
  width: 20px;
}

.active-button::before {
  background: inherit;
  background-image: url(../../../../images/sidebar/sidebar-options-expand.png);
  background-repeat: no-repeat;
  content: "";
  height: 14px;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 14px;
}

.inactive-button::before {
  background: inherit;
  background-image: url(../../../../images/sidebar/sidebar-options-colapse.png);
  background-repeat: no-repeat;
  content: "";
  height: 14px;
  position: absolute;
  right: 1px;
  top: 7px;
  width: 14px;
}

.active-button:hover {
  border: 2px solid #ffa800;
}

.inactive-button:hover {
  border: 2px solid #ffa800;
}

.time-form {
  padding-bottom: 68px;
}

.hidden {
  display: none;
  position: relative;
  align-items: center;
}

.time-form-header {
  color: #e5e5e5;
  font-size: 1.2em;
  margin-bottom: 21px;
  margin-top: 0;
}

.time-form-slider {
  padding-left: 10px;
}

.time-form-header-right {
  text-align: right;
  margin-top: 60px;
}